<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/nav') -%>
    <p>Hello World</p>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, delectus.
    </div>
    <% if(blogs.length>0) { %> <% blogs.forEach(blog => { %>
    <a href="/blogs/<%= blog._id %> " class="blog">
      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p></a
    >
    <% }) %> <% } else { %>
    <p>There are no blogs to display</p>
    <% } %> <%- include('./partials/footer') %>
  </body>
</html>
