<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <h1><%= blog.title %></h1>
    <a class="delete" data-doc="<%= blog._id %>">DELETE</a>
    <a class="update-btn" data-doc="<%= blog._id %>">UPDATE</a>
    <p><%= blog.snippet %></p>
    <p><%= blog.body %></p>
    <%- include('./partials/footer') %>

    <script>
      const deleteBlog = document.querySelector("a.delete");
      deleteBlog.addEventListener("click", fetchData);
      // callback function for DELETE request and redirect
      function fetchData() {
        const endpoint = `/blogs/${deleteBlog.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
          body: "data is sent",
        })
          .then((response) => response.json())
          .then((data) => {
            window.location.href = data.redirect;
          })
          .catch((err) => console.log(err));
      }
      const updateBlog = document.querySelector("a.update-btn");
      updateBlog.addEventListener("click", () => {
        window.location.href = `/blogs/update/${updateBlog.dataset.doc}`;
      });
    </script>
  </body>
</html>
